SolucaoVS2013/MiniJogos/JogoDaForca/Forca/Forca/tempuri.org.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SocialiteWS" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:7077/SocialiteWS.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:7077/SocialiteWS.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:7077/SocialiteWS.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SocialiteWebService" />
      <xsd:import schemaLocation="http://localhost:7077/SocialiteWS.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SocialiteOperations_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="SocialiteOperations_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="SocialiteOperations_Logout_InputMessage">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="SocialiteOperations_Logout_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:message name="SocialiteOperations_Status_InputMessage">
    <wsdl:part name="parameters" element="tns:Status" />
  </wsdl:message>
  <wsdl:message name="SocialiteOperations_Status_OutputMessage">
    <wsdl:part name="parameters" element="tns:StatusResponse" />
  </wsdl:message>
  <wsdl:message name="SocialiteOperations_GetUserData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserData" />
  </wsdl:message>
  <wsdl:message name="SocialiteOperations_GetUserData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserDataResponse" />
  </wsdl:message>
  <wsdl:message name="SocialiteOperations_GetCurrentUserData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentUserData" />
  </wsdl:message>
  <wsdl:message name="SocialiteOperations_GetCurrentUserData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentUserDataResponse" />
  </wsdl:message>
  <wsdl:message name="SocialiteOperations_GetWord_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWord" />
  </wsdl:message>
  <wsdl:message name="SocialiteOperations_GetWord_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWordResponse" />
  </wsdl:message>
  <wsdl:message name="SocialiteOperations_GetDownloads_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDownloads" />
  </wsdl:message>
  <wsdl:message name="SocialiteOperations_GetDownloads_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDownloadsResponse" />
  </wsdl:message>
  <wsdl:portType name="SocialiteOperations">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/SocialiteOperations/Login" message="tns:SocialiteOperations_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SocialiteOperations/LoginResponse" message="tns:SocialiteOperations_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input wsaw:Action="http://tempuri.org/SocialiteOperations/Logout" message="tns:SocialiteOperations_Logout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SocialiteOperations/LogoutResponse" message="tns:SocialiteOperations_Logout_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Status">
      <wsdl:input wsaw:Action="http://tempuri.org/SocialiteOperations/Status" message="tns:SocialiteOperations_Status_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SocialiteOperations/StatusResponse" message="tns:SocialiteOperations_Status_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserData">
      <wsdl:input wsaw:Action="http://tempuri.org/SocialiteOperations/GetUserData" message="tns:SocialiteOperations_GetUserData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SocialiteOperations/GetUserDataResponse" message="tns:SocialiteOperations_GetUserData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentUserData">
      <wsdl:input wsaw:Action="http://tempuri.org/SocialiteOperations/GetCurrentUserData" message="tns:SocialiteOperations_GetCurrentUserData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SocialiteOperations/GetCurrentUserDataResponse" message="tns:SocialiteOperations_GetCurrentUserData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWord">
      <wsdl:input wsaw:Action="http://tempuri.org/SocialiteOperations/GetWord" message="tns:SocialiteOperations_GetWord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SocialiteOperations/GetWordResponse" message="tns:SocialiteOperations_GetWord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDownloads">
      <wsdl:input wsaw:Action="http://tempuri.org/SocialiteOperations/GetDownloads" message="tns:SocialiteOperations_GetDownloads_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SocialiteOperations/GetDownloadsResponse" message="tns:SocialiteOperations_GetDownloads_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="SocialiteWS" />
</wsdl:definitions>